/node_modules
/public_html/hot
/public_html/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
public_html/sitemap.xml
public/storage/

/resources/views/front/shop_views.zip
/app/Http/Controllers/Front/Shop_controllers.zip
/resources/views/admin/shop_views.zip
/database/migrations/shop_migrations.zip
/app/Http/Controllers/Admin/Shop_controllers.zip
/app/Models/Shop_models.zip
/app/Widgets/Shop_widgets.zip
public/storage
